.AdminAlerts h1 {
    text-align: center;
}

.button {
    float: right;
    border-color: lightgrey;
    background-color: white;
    color: blue;
}

.listHeader {
    text-align: left;
    margin: 0px;
}
.clientRow {
    box-shadow: 0 0px 5px 3px #e4d5eb;
    text-align: left;
    margin: 2px 0;
    align-items: center;
}

.clientRowText{
    margin: 0px;
}

.dateText {
    text-align: left;
    color: #8c8c8c;
}

.modal {
          position: 'relative',
          top: '50%',
          left: '50%',
          right: 'auto',
          bottom: 'auto',
          transform: 'translate(-50%, -50%)'
        }








