@media (min-width: 1205px) {
    .container-fluid {
      margin-left: 500px;
    }
  }

.SideNav{
    height: 100vh;
    width: 250px;
    background-color: rgb(62,75,90);
    position: relative;
    float: left;
    margin-top: -40px;
}

.collapsed {
    width: 65px;
}

.main-content {
    margin-left: 110px;
}

.sidenav-item {
    height: 60px;
}

.sidenav-item:hover {
    background-color: rgba(242, 218, 218, 0.4);
}


.sidenav-top-space {
    height: 80px;
}

.sidenav-link {
    color: rgb(208, 208, 208);
    width: 250px;
    height: 60px;
    line-height: 50px;
    text-align: left;
}

.sidenav-link:hover {
    color: white;
}

.collapsed-link {
    width: 65px;
}

.collapsed-link > .sidenav-link {
    width: 65px;
}

.active {
    background-color: rgba(242, 218, 218, 0.4);
    color: white;
    border-width: 0 0 0 3px;
    border-color: rgb(22, 218, 232);
    border-style: solid;
    
}

.icon {
    position: relative;
    float: left;
    height: 50px;
    margin-right: 15px;
    margin-left: 30px;
}

.collapsed-icon {
    margin-left: 5px;
}

.hamburger-icon {
    color: white;
    position: relative;
    float: right;
    margin: 5px 5px 0 0;
    cursor: pointer;
}