h1 {
    text-align: center;
    text-justify: center;
    color:#9646b7;
}

.main{
    display: flex;
    justify-content:flex-start;
}


.outRefs{
    margin: 3em;
    height: 40em;
}

.priorityClient{
    margin: 3em;
}